.header {
  background-color: $red;
  font-family: $primaryFont;
  color: $softPink;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  .logo {
   font-size: 1.5rem;
   line-height: 1.5rem;
   margin-bottom: 1rem;
  }
  .menu {  
    ul {
        list-style-type: none;
        li {
          a {
            text-decoration: none;
            color: white;
            }
        }
    }
  }

}

@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .menu {
    
        ul {
            display: flex;
            li {
              padding: 0.5rem;
            }
        }

      }
  }
}
